body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
.SkillTree .node {
	padding: 3px;
	border: 1px solid #777777;
	border-radius: 5px;
	white-space: nowrap;
	background-color: #eeffff;
	font-weight: bold;
}
.SkillTree .node img { width: 100%; height: 100%; }

.SkillTree .collapse-switch { width: 100%; height: 100%; border: none; }
.SkillTree .node.collapsed {
	background-color: #eeffaa;
}
.SkillTree .node.collapsed .collapse-switch { background: none; }

.SkillTree .Details {
	max-width: 40em;
	white-space: normal;
}

.SkillTree .Details .TitleDivider {
	border-top: 1px solid #888888;
	margin: 2px 0 5px;
}

.SkillTree .Details .Divider {
	border-top: 1px solid #aaaaaa;
	margin: 5px 0;
	width: 10em;
}

.SkillTree .Details .Heading {
	font-style: normal;
}

.SkillTree .Details .Text {
	font-style: italic;
	font-weight: normal;
}

.SkillTree .Details ul.Text {
	margin: 0 2em;
}

.SkillTree p{
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.menu-container {
	display: inline-block;
}

.menu-toggle {
	background-color: #EEEEEE;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.menu-toggle.hover {
	background-color: #DDDDDD;
	color: #CC4400;
}

.menu-body {
	position: absolute;
	background-color: #EEEEEE;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	cursor: pointer;
	z-index: 1;
}

.menu-body li{
	color: black;
	padding: 12px 16px;
	text-decoration:none;
	display: block;
}

.menu-body li.hover {
	background-color: #DDDDDD;
	color: #CC4400;
}
